/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* style.css */

/* copyright 2023 codewithsadee */

/* CUSTOM PROPERTY */

:root {
  /* COLORS */

  /* backgroud colors */
  --bg-white: hsl(0, 0%, 100%);
  --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --bg-lavender-blush: hsl(0, 100%, 98%);
  --bg-majorelle-blue: hsl(249, 95%, 63%);
  --bg-ocean-blue: hsl(249, 63%, 54%);
  --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
  --bg-misty-rose: hsl(0, 100%, 95%);
  --bg-red-salsa: hsl(357, 94%, 63%);
  --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
  --bg-english-vermillion: hsl(357, 64%, 53%);
  --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
  --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
  --bg-gainsboro: hsl(0, 0%, 85%);

  /* text color */
  --text-white: hsl(0, 0%, 100%);
  --text-gunmetal: hsl(209, 40%, 14%);
  --text-light-coral: hsl(357, 96%, 73%);
  --text-granite-gray: hsl(210, 4%, 38%);
  --text-majorelle-blue: hsl(249, 95%, 63%);
  --text-sunglow: hsl(48, 100%, 50%);

  /* border color */
  --border-gainsboro: hsl(0, 1%, 85%);

  /* TYPOGRAPHY */

  /* font family */
  --ff-poppins: "Poppins", sans-serif;

  /* font size */
  --fontSize-1: 4.2rem;
  --fontSize-2: 3.6rem;
  --fontSize-3: 2.5rem;
  --fontSize-4: 2.4rem;
  --fontSize-5: 2rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.5rem;

  /* font weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-medium: 500;

  /* SPACING */

  --section-spacing: 80px;

  /* BOX SHADOW */

  --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
  --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
  --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
  --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);

  /* RADIUS */

  --radius-pill: 200px;
  --radius-circle: 50%;
  --radius-30: 30px;
  --radius-20: 20px;

  /* TRANSITION */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

body.nav-active {
  overflow: hidden;
}

ion-icon {
  width: 40px;
  height: 40px;
}

.icons {
  transform: translate(50%, -50%);
  background-color: var(--bg-white);
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-1);
}

/* RESET */

/* REUSED STYLE */
.h-container {
  padding-inline: 16px;
}

.btn {
  padding-inline: 30px;
  color: var(--text-white);
  transition: var(--transition-1);
  border-radius: var(--radius-pill);
}

.btn-primary {
  background-color: var(--bg-majorelle-blue);
}

.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--bg-ocean-blue);
  box-shadow: var(--shadow-2);
}
.btn-secondary {
  background-color: var(--bg-red-salsa);
}

.btn-secondary:is(:hover, :focus-visible) {
  background-color: var(--bg-english-vermillion);
  box-shadow: var(--shadow-3);
}

.section {
  padding-block-end: var(--section-spacing);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-gainsboro);
  overflow: hidden;
}

.gallery img {
  width: 100%;
}

/* PRELOADER */

@layer components {
  .preloader {
    @apply grid fixed place-content-center w-full h-full top-0 left-0 z-10;
  }

  .navbar-link {
    @apply relative text-xl font-medium;
  }
  .navbar-item {
    @apply pb-3.5;
  }

  .btn {
    @apply flex h-12 justify-center items-center gap-2 max-w-max;
  }

  .btn-primary {
    @apply text-xl font-medium;
  }

  .card-text {
    @apply text-lg;
  }

  .exp-item {
    @apply flex items-center gap-3;
  }

  .item-title {
    @apply text-6xl;
  }

  .gallery-list {
    @apply grid gap-4;
  }

  .footer-tist-list {
    @apply text-2xl;
  }

  .title {
    @apply text-2xl md:text-3xl;
  }

  .subtitle {
    @apply text-xl md:text-2xl;
  }
}

.service {
  padding-top: 30px;
}

.section-subtitle {
  color: var(--text-majorelle-blue);
  font-weight: var(--weight-medium);
}

.section-title {
  margin-block: 10px;
  line-height: 1.5;
}

.service-card:nth-child(2) {
  background-color: var(--bg-chrome-yellow-alpha-5);
}

.service-card:nth-child(3) {
  background-color: var(--bg-red-salsa-alpha-5);
}
.service-card:nth-child(4) {
  background-color: var(--bg-majorelle-blue-alpha-5);
}

.service-card {
  border-radius: var(--radius-20);
}

.service-card .card-title {
  margin-block: 10px 5px;
}

.preloader {
  background-color: var(--bg-lavender-blush);
  transition: var(--transition-1);
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

.preloader-inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10px;
  background-color: var(--bg-black-alpha-20);
  filter: blur(4px);
  z-index: -1;
  animation: dropShadow 700ms ease-in-out infinite alternate;
}

@keyframes dropShadow {
  0% {
    width: 40%;
  }

  100% {
    width: 80%;
  }
}

/* HEADER */
.header {
  padding-block: 30px;
}

.header.active {
  position: fixed;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-1);
  animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar {
  z-index: 1;
  background-color: var(--bg-white);
  transition: 400ms var(--cubic-out);
}

.navbar.active {
  transform: translateX(-320px);
  transition: 500ms;
  visibility: visible;
}

.navbar-list {
  margin-block-start: 50px;
}

.navbar-link {
  color: var(--text-gunmetal);
  padding-block: 8px;
  transition: var(--transition-1);
}

.navbar-link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 14px;
  background-color: var(--bg-majorelle-blue);
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active)::before {
  opacity: 1;
}

.navbar-item:is(:hover, :focus-visible, .active) {
  transform: translateX(10px);
}

.header-action {
  margin-block-start: auto;
  padding-block-start: 20px;
  border-block-start: 1px solid var(--border-gainsboro);
}

.login-btn {
  color: var(--text-gunmetal);
  transition: var(--transition-1);
}

.login-btn:is(:hover, :focus-visible) {
  opacity: 0.6;
}

.overlay {
  background-color: var(--bg-white);
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 0.5;
  visibility: visible;
}

/* HERO */

.hero {
  padding-block-start: 150px;
}

.hero-title {
  margin-block: 20px;
}

.title {
  color: var(--text-gunmetal);
  font-weight: var(--weight-semiBold);
}

.hero-subtitle {
  background-color: var(--bg-misty-rose);
  color: var(--text-light-coral);
  border-radius: var(--radius-pill);
}

.hero-text {
  margin-block-end: 20px;
}

.hero .btn-secondary {
  margin-block-end: 20px;
}

.hero-btn {
  color: var(--text-gunmetal);
  font-weight: var(--weight-medium);
  transition: var(--transition-1);
}

.hero-btn .btn-img {
  background-color: var(--bg-gainsboro);
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-1);
}

.img-cover {
  border-radius: inherit;
}

.hero-btn:is(:hover, :focus-visible) {
  color: var(--text-majorelle-blue);
}

/* DESTINATION */

.desti .section-title {
  margin-block-end: 40px;
}

.desti-card .card-banner {
  border-radius: var(--radius-30);
}

.desti-card:is(:hover, :focus-within) .img-cover {
  transform: scale(1.05);
}

.desti-card .card-price {
  background-color: var(--bg-white);
  color: var(--text-majorelle-blue);
  font-weight: var(--weight-bold);
  padding: 5px 15px;
  border-radius: var(--radius-pill);
}

.desti-card .card-title {
  margin-block: 15px 5px;
  transition: var(--transition-1);
}

.desti-card .card-title:is(:hover, :focus-visible) {
  color: var(--text-majorelle-blue);
}

.desti-card :is(.card-rating, .span) {
  display: flex;
  align-items: center;
}

.desti-card .card-rating {
  margin-block-start: 10px;
}

.desti-card .card-rating .span {
  background-color: var(--bg-sunglow-alpha-10);
  border-radius: var(--radius-pill);
}

.desti-card .card-rating ion-icon {
  color: var(--text-sunglow);
}

.desti .btn {
  margin-inline: auto;
  margin-block-start: 40px;
}

.exp .section-text {
  margin-block-end: 20px;
}

.exp-item {
  margin-block-start: 15px;
}

.exp-item .item-title {
  color: var(--bg-majorelle-blue);
  font-weight: var(--weight-bold);
}

.exp-shape {
  left: -10px;
  filter: drop-shadow(--shadow-4);
}

/* GALLERY */

.item-banner {
  border-radius: var(--radius-20);
}
.section-title {
  margin-block-end: 40px;
}

.gallery-list {
  display: grid;
  gap: 15px;
}

/* CTA */

.cta-card {
  background-color: var(--bg-misty-rose);
  padding: 60px 20px;
  text-align: center;
  border-radius: var(--radius-30);
}

.cta .section-title {
  margin-block: 0 20px;
}

.cta .btn {
  margin-inline: auto;
  margin-block-start: 20px;
}

/* FOOTER */
.footer-top {
  gap: 40px;
  padding-block: 60px;
}

.footer-brand .footer-text {
  margin-block: 20px;
}

.social-link {
  color: var(--bg-majorelle-blue);
  transition: var(--transition-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: var(--radius-pill);
}

.input-wrapper ion-icon,
.social-link ion-icon {
  width: 32px;
  height: 32px;
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--bg-majorelle-blue);
  color: var(--text-white);
}

.footer-list-title {
  color: var(--text-gunmetal);
  margin-block-end: 15px;
}

.footer-link {
  margin-block-start: 10px;
}

.footer-link:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.footer-list .footer-text {
  margin-block-end: 15px;
}

.input-feild {
  padding-inline: 25px 60px;
  border: 1px solid var(--border-gainsboro);
  color: var(--text-gunmetal);
  border-radius: var(--radius-pill);
}

.input-feild:focus {
  border-color: var(--bg-majorelle-blue);
}

.input-btn {
  background-color: var(--bg-majorelle-blue) !important;
  place-items: center;
  border-radius: var(--radius-circle);
  right: 5px;
  color: var(--text-white);
}

.input-btn ion-icon {
  transform: translateX(-2px) rotate(45deg);
}

/* MEDIA QUERIES */

@media (min-width: 575px) {
  .h-container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  /* navbar */
  .navbar {
    max-width: 350px;
    padding-inline: 40px;
    padding-block-start: 40px;
  }

  /* hero */
  .hero-text {
    max-width: 42ch;
  }

  .hero .wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .hero .btn,
  .hero .btn-secondary {
    margin-block-end: 0 !important;
  }

  /* Service */

  .service .h-container {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }

  /* destination */
  .desti-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .h-container {
    max-width: 720px;
  }

  .btn {
    height: 60px;
    padding-inline: 40px;
  }

  :is(.desti, .gallery) :is(.section-subtitle, .section-title) {
    text-align: center;
  }

  .preloader img {
    width: 80px;
    height: 80px;
  }

  /* HERO */

  .hero {
    padding-block-start: 180px;
  }

  .hero-subtitle {
    padding: 10px 30px;
  }

  .hero-btn {
    gap: 32px;
  }

  .hero-btn .btn-img {
    width: 70px;
    height: 70px;
  }

  .hero-btn ion-icon {
    padding: 10px;
  }

  .hero-banner {
    max-width: 550px;
    margin-inline: auto;
  }

  /* Service */

  .serviece .h-container {
    gap: 35px;
  }

  .service-card {
    padding: 40px 30px;
  }

  .service-card .card-title {
    margin-block: 20px 10px;
  }

  /* BESTI */

  .desti .section-title {
    margin-block-end: 65px;
  }

  .desti-list {
    gap: 50px 30px;
  }
  .desti-card .card-title {
    margin-block-start: 25px;
  }

  .desti .btn {
    margin-block-start: 60px;
  }

  /* EXPERIENCE */
  .exp .section-text {
    max-width: 600px;
  }

  .exp-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .exp-item {
    gap: 15px;
  }

  .exp-item .item-title {
    font-size: 3rem;
  }

  .exp-banner {
    max-width: 550px;
    margin-inline: auto;
  }

  /* GALLERY */
  .gallery .section-title {
    margin-block-end: 65px;
  }

  .gallery-list {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .gallery-item:nth-child(n + 3) {
    grid-column: 1/3;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }

  /* HEADER */
  .nav-toggle-btn,
  .navbar-top,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-list {
    margin-block-start: 0;
    display: flex;
    gap: 30px;
    margin-inline: auto;
  }

  .navbar-link:is(:hover, :focus-visible, .active) {
    transform: unset;
  }

  .navbar-item {
    padding-bottom: 0px;
  }

  .navbar-link::before {
    width: 10px;
    height: 3px;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-action {
    border: none;
    padding-block-start: 0;
    gap: 30px;
  }

  .header.active {
    padding-block: 15px;
  }

  .hero .h-container {
    grid-template-columns: 0.8fr 1fr;
    gap: 0px;
    align-items: center;
  }

  .hero .wrapper {
    flex-wrap: wrap;
  }

  .hero-banner {
    max-width: unset;
  }

  /* Service */
  .service .title-wrapper {
    padding-inline-end: 100px;
  }

  /* Desti */
  .desti-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .exp .h-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
  }

  .exp-content {
    order: 1;
  }

  .exp-list {
    flex-wrap: wrap;
  }

  .exp-item {
    margin-block-start: 0;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}
